<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

  <div class="row justify-content-center">
      <button type="button" class="btn btn-primary" (click)="Agregar()">
        <span class="fas fa-plus"> </span>  Agregar
      </button>
  </div>


<div id="divTablaEmpresas">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">CantidadEmpleados</th>
        <th class="text-center">FechaFundacion</th>
        <th class="text-center">IdEmpresa</th>
        <th class="text-center">RazonSocial</th>
        <th class="text-center">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of Emp">
        <td>{{e.CantidadEmpleados}}</td>
        <td class="text-right">{{e.FechaFundacion}}</td>
        <td class="text-right">{{e.IdEmpresa}}</td>
        <td class="text-right">{{e.RazonSocial | uppercase}}</td>
        <td class="text-center text-nowrap">
          <button type="button" class="btn btn-sm btn-outline-primary" title="Editar" (click)="Editar(e)">
            <span class="fas fa-pencil-alt"></span>
          </button>

          <!-- agregar boton de eliminar -->

        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Formulario para editar registros -->
 <!-- <<form> 
    <fieldset>

        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="CantidadEmpleados">
                Cantidad Empleados <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input type="text" name="CantidadEmpleados" class="form-control" />
            </div>
        </div>


        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2">
                Fecha Fundacion <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input class="form-control"
                       name="FechaFundacion" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="IdEmpresa">
                Id Empresa <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input type="text" name="IdEmpresa" class="form-control" />
            </div>
          </div>


        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="RazonSocial">
                Razon Social <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" />
            </div>
        </div>
    </fieldset>

    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> Volver/Cancelar
        </button>
    </div>
</form> -->
